.container {
  display: flex;
  align-items: center;
  height: 100%;
  composes: plainCard from "src/styles/card.module.css";
  background: rgba(var(--card-rgb), 0.2);
  position: relative;
}

.gameBoard {
  display: flex;
  composes: plainCard from "src/styles/card.module.css";
  background: rgba(var(--card-rgb), 0.2);
  margin: 0 2rem;
  min-width: 320px;
  justify-content: space-between;
}

.result{
  display: flex;
  align-items: center;
  justify-content: center;
}

